.contact{
    background: linear-gradient(-45deg, var(--color1), var(--color2));
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    color: var(--color3);
    form{
        width: 100%;
        .child{
            margin: 10px 0;
            input{
                width: 100%;
                border-radius: 5px;
                height: 50px;
                padding: 0 10px;
            }
        }
        a{
            color: var(--color3);
            text-decoration: none;
        }
        .submit{
            button{
                width: 100%;
                margin: 0 0 10px 0;
                border-radius: 5px;
                height: 50px;
                padding: 0 10px;
                background: var(--color3);
                color: var(--color1);
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }
    }
}