@import url('./css/varaibles.scss');
@import url('./css/toast');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  word-break: break-all;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-300) !important;
}